* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html {
    overflow-x: hidden;
}

html, body {
    background: #161616;
    color: #fff;
}

body {
    width: 100%;
    overflow: hidden;
}

.smooth-scroll-wrapper {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;
}

.content {
    width: 80%;
    margin: 160px auto;
}

h1 {
    font-size: 60px;
    margin: 20px 0;
}

p {
    font-size: 24px;
    line-height: 40px;
    text-align: justify;
    font-weight: 200;
    color: rgba(255, 255, 255, .6);
}

.img {
    width: 100%;
    height: 300px;
    background-size: cover;
    margin: 40px auto;
}

.img-1 {
    background: url(../images/img-1.jpg) 50% 50% no-repeat;
}
.img-2 {
    background: url(../images/img-2.jpg) 50% 50% no-repeat;
}
.img-3 {
    background: url(../images/img-3.jpg) 50% 50% no-repeat;
}
.img-4 {
    background: url(../images/img-4.jpg) 50% 50% no-repeat;
}
.img-5 {
    background: url(../images/img-5.jpg) 50% 50% no-repeat;
}



















